body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}

.card {
  padding: 10px;
  margin-bottom: 10px;
}

.near-deadline {
  background-color: yellow !important;
}

.overdue {
  background-color: rgb(201, 40, 40) !important;
}

.in-progress {
  background-color: lightblue;  
}

.done {
  background-color: lightgreen;
}